<main>
  <div class="card">
    <h1>Transfer</h1>
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
      <div *ngIf="errorMsg.length > 0" class="error-message">
        <div *ngFor="let error of errorMsg">{{ error }}</div>
      </div>
      <div *ngIf="successMessage.length > 0" class="success-message">
        <div *ngFor="let message of successMessage">{{ message }}</div>
      </div>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Source Account</mat-label>
        <mat-select formControlName="sourceAccountId">
          <mat-option *ngFor="let account of sourceAccounts" [value]="account.id">
            {{ account.owner }} - {{ account.accountNo }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Destination Account</mat-label>
        <input type="text" matInput formControlName="destinationAccount" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let account of filteredAccounts | async" [value]="account">
            {{ account.owner }} - {{ account.accountNo }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="form-group">
        <label for="amount">Amount:</label><br>
        <input id="amount" type="number" formControlName="amount" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="transferForm.invalid">Transfer</button>
    </form>
  </div>
</main>
