<main>
  <div class="card">
    <h2 class="text-center">Reset Password</h2>
    <hr>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div *ngIf="successMsg.length > 0" class="success-msg">
        <div *ngFor="let msg of successMsg">{{ msg }}</div>
      </div>
      <div *ngIf="errorMsg.length > 0" class="error-msg">
        <div *ngFor="let msg of errorMsg">{{ msg }}</div>
      </div>
      <div class="mb-3">
        <label for="token" class="form-label">Token: </label>
        <input id="token" formControlName="token" type="text" class="form-control" placeholder="Enter your token">
        <div *ngIf="resetForm.get('token').invalid && resetForm.get('token').touched" class="error-message">
          Token is required.
        </div>
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password: </label>
        <input id="newPassword" formControlName="newPassword" type="password" class="form-control" placeholder="New Password">
        <div *ngIf="resetForm.get('newPassword').invalid && resetForm.get('newPassword').touched" class="error-message">
          Password must be at least 8 characters long.
        </div>
      </div>
      <div class="reset-password">
        <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">
          <em class="fas fa-sign-in-alt">&nbsp;Reset Password</em>
        </button>
      </div>
    </form>
  </div>
</main>
