<main>
  <div class="card">
    <h2 class="text-center">Request Password Reset</h2>
    <hr>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email: </label>
        <input id="email" formControlName="email" type="email" class="form-control" placeholder="name@example.com">
      </div>
      <div class="request-reset">
        <button type="submit" class="btn btn-primary">
          <em class="fas fa-sign-in-alt">&nbsp;Request Reset</em>
        </button>
      </div>
      <p *ngIf="message" class="msg">{{ message }}</p>
    </form>
  </div>
</main>
