<main>
  <h1>Users</h1>
  <div class="container">
    <input type="text" placeholder="Search by name" [(ngModel)]="searchQuery" (input)="searchUsers()">
    <div class="users">
      <table *ngIf="users && users.length> 0">
        <thead>
        <tr>
          <th>Id</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Date Joined</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}&nbsp;{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.dateJoined }}</td>
          <td><span title="Delete User" (click)="delete(user.id)" id ="del" class="material-symbols-outlined">delete</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
