<main>
  <h1>Profile</h1>
  <div class="card">
    <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
      <h2>Update Info</h2>
      <br>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="user.phone" required>
      </div>
      <button type="submit" [disabled]="!profileForm.valid">Save Changes</button>
      <div *ngIf="updateProfileError" class="error">
        {{ updateProfileError }}
      </div>
    </form>
    <div class="info">
      <h2>More Info</h2>
      <br>
      <h3>Date Joined:</h3>
      <h2>{{ userInfo.dateJoined.substring(0, 10) }}</h2>
      <h3>Active Accounts:</h3>
      <h2 *ngFor="let account of accounts">{{ account.accountNo }}</h2>
      <h3>Active Cards:</h3>
      <h2 *ngFor="let card of cards">{{ card.cardNo }}</h2>
      <button class="del" (click)="del()">Delete Account</button>
    </div>
    <form (ngSubmit)="changePassword()">
      <h2>Change Password</h2>
      <br>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="changePasswordData.currentPassword" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="changePasswordData.newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="changePasswordData.confirmationPassword" required>
      </div>
      <button class="passBtn" type="submit">Change Password</button>
      <div *ngIf="changePasswordError" class="error">
        {{ changePasswordError }}
      </div>
    </form>
  </div>
</main>
