<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Password Reset Request</h2>
<p>Hello <span th:text="${username}"></span>,</p>
<p>Please click on the link below to reset your password:</p>
<p><a th:href="${confirmationUrl}">Reset Password</a></p>
<p>If you didn't request this password reset, you can ignore this email.</p>
<p>Reset Code: <span th:text="${activationCode}"></span></p>
<p>Thank you!</p>
</body>
</html>
