main {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

main .accounts {
  margin-top: 2rem;
  width: 80%;
}

main .accounts h2 {
  margin-bottom: 0.8rem;
}

main .accounts table {
  margin-top: 1.4rem;
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  overflow-y: auto;
  max-height: 800px;
}

main .accounts table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 5rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child {
  border: none;
}

span:hover {
  cursor: pointer;
}

#del {
  color: rgba(255,0,0,0.8);
}

main .details {
  width: 50%;
  margin-top: 2rem;
  max-height: 800px;
  overflow-y: auto;
}

tr:hover {
  background-color: rgba(255,255,0,0.2);
}

#ice {
  color: cornflowerblue;
}

.status-pending {
  background-color: rgba(255, 255, 0, 0.1);
}

.status-active {
  background-color: rgba(0, 255, 0, 0.2);
}

.status-closed {
  background-color: rgba(255, 0, 0, 0.2);
}

.status-frozen {
  background: rgba(0,0,255,0.2);
}

.card {
  margin-top: 1.4rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: left;
  transition: all 300ms ease;
  overflow-y: auto;
}
.card {
  position: relative; /* Make the card container relative */
}

.buttons-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
}

button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.rej:hover {
  background-color: rgba(255,0,0,0.8);
  color: white;
}

.app {
  background: #14145b;
  color: white;
}

.download:hover {
  cursor: pointer;
}
