<h1>Open New Account</h1>
<main>
<div class="card">
  <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="accountType">Account Type:  </label>
      <select class="form-control" id="accountType" name="accountType" [(ngModel)]="accountType" required>
        <option value="" disabled>Select Account Type</option>
        <option value="CHECKING">Checking</option>
        <option value="SAVINGS">Savings</option>
      </select>
      <div class="file-input">
        <label for="idFile">ID File:  </label>
        <input type="file" id="idFile" name="idFile" (change)="onFileSelected($event)">
      </div>
      <button type="submit" class="btn">Open Account</button>
    </div>
  </form>
  <p *ngIf="errorMsg" class="text-danger">{{ errorMsg }}</p>
</div>
</main>
